{% extends 'base.html.twig' %}

{% block title %}Connectez-vous{% endblock %}

{% block contentBanner %}
    {% for message in app.flashes('message') %}
        {% for m in app.flashes('type') %}
        <div class="alert alert-{{ m }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-md-offset-4 col-md-4"><h1>Connexion</h1>
    <form role="form" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <fieldset>
            <div class="form-group">
                <input class="form-control" value="{{ last_username }}" placeholder="Nom d'utilisateur" name="email" type="text" autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" placeholder="Mot de passe" name="password" type="password">
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <!-- Change this to a button or input when using this as a form -->
            <button class="btn  btn-success btn-block" type="submit">
                Se connecter
            </button>
        </fieldset>
    </form>
            <br>
            <a role="button" href="{{ path('user_registration') }}" class="btn btn-block btn-primary">
                S'inscrire
            </a>

    </div>
    </div>
{% endblock %}
