{% extends 'base.html.twig' %}

{% block title %}Inscriver-vous{% endblock %}

{% block contentBanner %}
    {% for message in app.flashes('message') %}
        {% for m in app.flashes('type') %}
            <div class="alert alert-{{ m }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            {{ form(form) }}
        <a href="{{ path('app_login') }}" role="button" class="btn-block btn btn-success">Se connecter</a>
        </div>
    </div>

{% endblock %}