<h3>Inscription ok!</h3>

<p>Merci pour votre inscription.</p>

<p> Pour confirmer copier ce lien : 'localhost:8000{{ path('user_activation',{'activation':activation}) }}'</p> ou
<a href="localhost:8000{{ path('user_activation',{'activation':activation}) }}"> Cliquez ici</a>

Merci!