{% extends 'base.html.twig' %}

{% block title %}{{ plat.nom }}{% endblock %}

{% block banner %}
    <div class="w3l_banner_nav_right_banner3">
        <h3>{{ plat.nom }}<span class="blink_me"></span></h3>
    </div>
{% endblock %}
{% block contentBanner %}
    <div class="agileinfo_single">
        <h5>{{ plat.nom }}</h5>
        <div class="col-md-4 agileinfo_single_left">
            <img id="example" src="{{ vich_uploader_asset(plat.photo, 'imageFile') }}" alt="{{ plat.photo.alt }}" class="img-responsive">
        </div>
        <div class="col-md-8 agileinfo_single_right">
            <div class="w3agile_description">
                <h4>Restaurant : </h4>
                <p>{{ plat.restaurant.nom }}</p>
                <h4>Temps de préparation : </h4>
                <p>{{ plat.temps }} Minutes</p>
                <h4>Catégories : </h4>
                <p>{{ plat.tagsText }}</p>
                <p></p>
                <h4>Descriptions : </h4>
                <p>{{ plat.description }}</p>
            </div>
            <div class="snipcart-item block">
                <div class="snipcart-thumb agileinfo_single_right_snipcart">
                    <h4>{{ plat.prix }} Ar</h4>
                </div>
                {% if is_granted('ROLE_CLIENT') %}
                    <div class="snipcart-details agileinfo_single_right_details">
                        {{ form(form) }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
{% endblock %}
