{% extends 'base.html.twig' %}

{% block title %}NOS RESTAURANTS{% endblock %}

{% block banner %}
    <div class="w3l_banner_nav_right_banner4">
        <h3>Nos Restaurants<span class="blink_me"></span></h3>
    </div>
{% endblock %}
{% block contentBanner %}
    <div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
        <h3>NOS RESTAURANTS</h3>
        <div class="w3ls_w3l_banner_nav_right_grid1">
            {% for key,restaurant in restaurants %}
                <div class="col-md-3 w3ls_w3l_banner_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid_pos">
                            </div>
                            <div class="agile_top_brand_left_grid1">
                                <a href="{{ path('plat_restaurant',{'slug':restaurant.slug}) }}">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <p>{{ restaurant.nom }}</p>
                                            <h4>à {{ restaurant.localisation }}</h4>
                                        </div>

                                    </div>
                                </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if key!=0 and key%4 ==0 %}
                    <br>
                     <div class="clearfix"> </div>
                {% endif %}
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(restaurants) }}
            </div>
        </div>
    </div>
{% endblock %}
