{% extends 'base.html.twig' %}

{% block title %}{{ restaurant.nom }}{% endblock %}

{% block banner %}
    <div class="w3l_banner_nav_right_banner4">
        <h3>{{ restaurant.nom }}<span class="blink_me"></span></h3>
    </div>
{% endblock %}
{% block contentBanner %}
    <div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub">
        <h3>Plats chez {{ restaurant.nom }} à {{ restaurant.localisation }}</h3>
        <div class="w3ls_w3l_banner_nav_right_grid1">
            {% for key,plat in plats %}
                <div class="col-md-3 w3ls_w3l_banner_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid_pos">
                            </div>
                            <div class="agile_top_brand_left_grid1">
                                <a href="{{ path('detail_plat',{'slug':plat.slug}) }}">
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb">
                                                <img src="{{ vich_uploader_asset(plat.photo, 'imageFile') }}" alt="{{ plat.photo.alt }}" class="img-responsive" />
                                                <p>{{ plat.nom }}</p>
                                                <p>{{ plat.description }}</p>
                                                <p>Temps : {{ plat.temps }} Minutes</p>
                                                <p>Catégories : {{ plat.tagsText }}</p>
                                                <h4> {{ plat.prix }} Ar</h4>
                                            </div>

                                        </div>
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if key!=0 and key%4 ==0 %}
                    <br>
                    <div class="clearfix"> </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
{% endblock %}
