{% extends 'base.html.twig' %}
{% block title %}Tableau de bords {% endblock %}
{% block contentBanner %}
    <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-10">
            <div class="row">
                <div class="col-xs-12 col-md-10">
                    <h3>EVOLUTION CHIFFRE COMMANDE PAR JOUR </h3>
                    <div id="chart_div2"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-md-5">
                    <h3>TOP 5 DES RESTAURANTS</h3>
                    <table class="table table-striped">
                        <tr>
                            <th>#</th>
                            <th>RESTAURANT</th>
                            <th style="text-align: right">CHIFFRE D'AFFAIRE</th>
                        </tr>
                        {% for key,r in topFive %}
                            <tr>
                                <td>{{ key+1 }}</td>
                                <td>{{ r['nom'] }}</td>
                                <td style="text-align: right">{{ r['chiffre'] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-xs-5 col-md-5">
                    <h3>CHIFFRE D'AFFAIRE PAR RESTAURANT  </h3>
                    <a href="{{ path('admin_export_pdf') }}">Exporter en pdf</a>
                    <!--Div that will hold the pie chart-->
                    <div id="chart_div"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-10">
                    <h3>TEMPS MOYEN RESTAURANT</h3>
                    <table class="table table-striped">
                        <tr>
                            <th>#</th>
                            <th>RESTAURANT</th>
                            <th style="text-align: right">TEMPS MOYEN(MIN)</th>
                        </tr>
                        {% for key,temp in tempsMoyen %}
                            <tr>
                                <th>{{ key+1 }}</th>
                                <th>{{ temp['nom'] }}</th>
                                <th style="text-align: right">{{ temp['moyen'] }}</th>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
{% block script %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var u = "http://127.0.0.1:8000/api";
        // Load the Visualization API and the piechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawLine);
        function drawLine() {
            var jsonData = $.ajax({
                url: u+"/evolution.json",
                dataType: "json",
                async: false
            }).responseText;

            // Create our data table out of JSON data loaded from server.
            console.log(jsonData.replace(" ","")) ;
            var data = new google.visualization.DataTable(jsonData);
            console.log(data) ;
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('chart_div2'));
            chart.draw(data, {title:"Evolution",width: 900, height: 540});
        }

        function drawChart() {
            var jsonData = $.ajax({
                url: u+"/restaurant.json",
                dataType: "json",
                async: false
            }).responseText;

            // Create our data table out of JSON data loaded from server.
            console.log(jsonData.replace(" ","")) ;
            var data = new google.visualization.DataTable(jsonData);
            console.log(data) ;
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, {title:"Chiffre d'affaire de chaque restaurant",width: 900, height: 540});
        }

    </script>
{% endblock %}