{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block contentBanner %}
    {{ include('util/_flash.html.twig') }}
    <div class="row">
        <div class="col-md-offset-2 col-md-8  col-xs-12">
            <h1>{{ title }}</h1>
            <table class="table table-striped">
                <tr>
                    <th>{{  knp_pagination_sortable(commandes, 'Numero commande', 'co.id') }}</th>
                    <th>{{ knp_pagination_sortable(commandes,'Date commande','co.dateCommande') }}</th>
                    <th>{{ knp_pagination_sortable(commandes,'Restaurant','r.nom') }}</th>
                    <th>{{ knp_pagination_sortable(commandes,'Adresse livraison','cl.adresse') }}</th>
                    <th>Somme</th>
                    <th>Action</th>
                </tr>
                {% for d in commandes %}
                    <tr>
                        <td>{{ d.commande.id }}</td>
                        <td> {{ d.commande.dateCommande|date("d/m/y à h:i") }} </td>
                        <td>{{ d.restaurant.nom }} à {{ d.restaurant.localisation }}</td>
                        <td>{{ d.commande.client.adresse }}</td>
                        <td style="text-align: right">{{ d.somme }}</td>
                        {{ include(content,{'d':d}) }}
                    </tr>
                {% endfor %}
            </table>
            {{ include('util/_pagination.html.twig',{'objects':commandes}) }}
        </div>

    </div>
{% endblock %}
