{% extends 'base.html.twig' %}
{% block title %} Suivi général des commandes{% endblock %}
{% block contentBanner %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h1>Suivi général des commandes</h1>
            <table class="table table-striped">
                <tr>
                    <th>{{ knp_pagination_sortable(commandes,'Numero commande','co.id') }}</th>
                    <th>{{ knp_pagination_sortable(commandes,'Date','co.dateCommande') }}</th>
                    <th>{{ knp_pagination_sortable(commandes,'Restaurant','r.nom') }}</th>
                    <th>{{ knp_pagination_sortable(commandes,'Montant(Ar)','c.somme') }}</th>
                    <th>{{ knp_pagination_sortable(commandes,'Temps préparation','c.totalTemps') }}</th>
                    <th>{{ knp_pagination_sortable(commandes,'Livreur','l.email') }}</th>
                    <th>{{ knp_pagination_sortable(commandes,'Adresse de livraison','cl.adresse') }}</th>
                    <th>{{ knp_pagination_sortable(commandes,'Etat','co.etat') }}</th>
                </tr>
                {% for rc in commandes %}
                    <tr>
                        <td>{{ rc.commande.id }}</td>
                        <td>{% if rc.commande.dateCommande != null %}{{ rc.commande.dateCommande|date("d/m/y à h:i") }}{% endif %}</td>
                        <td>{{ rc.restaurant.nom }}</td>
                        <td style="text-align: right">{{ rc.somme }}</td>
                        <td style="text-align: right">{{ rc.totalTemps }}</td>
                        <td>{% if rc.livreur != null %}{{ rc.livreur.email }}{% endif %}</td>
                        <td>{{ rc.commande.client.adresse }}</td>
                        <td>{{ rc.traduireEtat }}</td>
                    </tr>
                {% endfor %}
            </table>
            {{ include('util/_pagination.html.twig',{'objects':commandes}) }}
        </div>
    </div>
{% endblock %}