{% extends 'base.html.twig' %}

{% block title %}Vos commandes{% endblock %}

{% block contentBanner %}

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            {{ include('util/_flash.html.twig') }}
            <h1>Vos commandes</h1>
            <table class="table table-striped">
                <tr>
                    <th>{{  knp_pagination_sortable(commandes,'Numero commande','co.id')}}</th>
                    <th>Validation commande</th>
                    <th>Préparation</th>
                    <th>Résérvation</th>
                    <th>Récupération</th>
                    <th>Livraison</th>
                    <th>Restaurant</th>
                    <th style="text-align: right">{{  knp_pagination_sortable(commandes,'etat','c.etat')}}</th>
                    <th>Action</th>
                </tr>
                {% for c in commandes %}
                    <tr>
                        <td>{{ c.commande.id }}</td>
                        <td>{% if c.commande.dateCommande !=null %}{{ c.commande.dateCommande|date('d/m/y à h:i') }}{% endif %}</td>
                        <td>{% if c.datePret !=null %}{{ c.datePret|date('d/m/y à h:i') }}{% endif %}</td>
                        <td>{% if c.dateReservation !=null %}{{ c.dateReservation|date('d/m/y à h:i') }}{% endif %}</td>
                        <td>{% if c.dateRecuperation !=null %}{{ c.dateRecuperation|date('d/m/y à h:i') }}{% endif %}</td>
                        <td>{% if c.dateLivraison !=null %}{{ c.dateLivraison|date('d/m/y à h:i') }}{% endif %}</td>
                        <td>{{ c.restaurant.nom }}</td>
                        <td style="text-align: right">{{ c.traduireEtat }}</td>
                        {% if c.etat == 4 %}
                          <td><a href="{{ path('client_recuperer_commande',{'idCommande':c.id}) }}">Livré</a></td>
                        {% endif %}
                        {% if c.etat==5 %}

                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            {{ include('util/_pagination.html.twig',{'objects':commandes}) }}
        </div>

    </div>
{% endblock %}
