{% extends 'base.html.twig' %}

{% block title %}Votre commande{% endblock %}

{% block contentBanner %}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        {{ include('util/_flash.html.twig') }}
       <h1>Détail commande</h1>
        <table class="table table-striped">
            <tr>
                <th>Plat</th>
                <th>Restaurant</th>
                <th style="text-align: right">PU(Ar)</th>
                <th style="text-align: right">Quantite</th>
                <th style="text-align: right">Total</th>
                <th>Action</th>
            </tr>
            {% for c in detailCommandes %}
            <tr>
                <td>{{ c.plat.nom }}</td>
                <td>{{ c.plat.restaurant.nom }}</td>
                <td style="text-align: right">{{ c.plat.prix }}</td>
                <td style="text-align: right">{{ c.nombre }}</td>
                <td style="text-align: right">{{ c.somme }}</td>
                <td><a href="{{ path('client_delete_commande',{'idDetail':c.id}) }}">Annuler</a></td>
            </tr>
            {% endfor %}
        </table>
        <p>Total : {{ commande.somme }} Ar</p>
        <a href="{{ path('client_valider_commande') }}" role="button" class="btn btn-block btn-success">Valider la commande</a>
    </div>

</div>
{% endblock %}
