<form method="post" action="{{ path('plat_delete', {'id': plat.id}) }}" onsubmit="return confirm('Etes-Vous sur de vouloir effacer ce plat ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plat.id) }}">
    <button class="btn btn-block btn-danger">Effacer</button>
</form>
