{% extends 'base.html.twig' %}

{% block title %}Edit Plat{% endblock %}

{% block contentBanner %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1>Modifier un plat</h1>

            {{ include('plat/_form.html.twig', {'button_label': 'Modifier'}) }}

            <br>
            {{ include('plat/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
