{% extends 'base.html.twig' %}

{% block title %}Plat index{% endblock %}

{% block contentBanner %}
    <div  class="row"><
        <div class="row col-md-offset-1 col-md-11">
    <h1>Liste des plats dans votre restaurant</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Temps</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.nom }}</td>
                <td>{{ plat.prix }}</td>
                <td>{{ plat.temps }}</td>
                <td>
                    <a href="{{ path('plat_edit', {'id': plat.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <div class="navigation">
                {{ knp_pagination_render(plats) }}
            </div>
        </div>
        </div>
{% endblock %}
