{% extends 'base.html.twig' %}

{% block title %}New Plat{% endblock %}

{% block contentBanner %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1>Creer Plat</h1>
            {{ include('plat/_form.html.twig') }}

            <a href="{{ path('plat_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
