{% extends 'base.html.twig' %}

{% block title %}Plat{% endblock %}

{% block contentBanner %}
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
    <h1>Plat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plat.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ plat.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ plat.prix }}</td>
            </tr>
            <tr>
                <th>Temps</th>
                <td>{{ plat.temps }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ plat.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ plat.description }}</td>
            </tr>
            <tr>
                <th>UpdateTagAt</th>
                <td>{{ plat.updateTagAt ? plat.updateTagAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('plat_index') }}">back to list</a>

    <a href="{{ path('plat_edit', {'id': plat.id}) }}">edit</a>

    {{ include('plat/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
